[Unit]
Description= erigon as a service
After=network.target

[Service]
User=erigon
Group=erigon
Environment=HOME=/home/erigon
Type=simple
Restart=always
RestartSec=30s
ExecStart=/home/erigon/erigon
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure

[Install]
WantedBy=default.target
